{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="{% static 'public/assets/images/logo.svg' %}" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://unpkg.com/petite-vue" defer init></script>
  <title>StudyMate - FUTO</title>
</head>

<body>
  <div id=""></div>
  <h1 class="text-2xl font-light text-primary select-none">
    <button class="btn-primary bg-[var(--primary)] rounded h-12 transition rounded"
      onclick="window.location.href ='{% url 'login' %}';">Login</button>
  </h1>
  <main class="w-[100dvw] h-[100dvh] flex flex-col center">
    <div class="flex flex-col center gap-2">
      <h1 class="text-2xl font-light text-primary select-none">Register</h1>
    </div>

    <div class="h-[25rem] w-96 flex flex-col gap-10 lg:shadow-lg lg:p-5 lg:rounded justify-center">

      <div id="logo-component"></div>

      <form method="post" class="flex flex-col gap-6 text-body-400">
        {% csrf_token %}

        <div v-scope="{ isFocused: false }" class="flex flex-col relative">
          <label for="username" :class="['absolute left-2  transition',
          isFocused ? '-translate-y-[.75rem] bg-primary-50 px-2 text-sm font-semibold'
          : 'top-[.75rem]']">
            Username
          </label>

          <input class="input rounded h-12" @focus="isFocused = true"
            @blur="$el.value === '' ? isFocused = false : true" type="text" id="username" name="username"
            value="{{ form.username.value }}">
        </div>

        <div v-scope="{ isFocused: false }" class="flex flex-col relative">

          <label for="email" :class="['absolute left-2  transition',
          isFocused ? '-translate-y-[.75rem] bg-primary-50 px-2 text-sm font-semibold'
          : 'top-[.75rem]']">
            Email
          </label>

          <input class="input rounded h-12" @focus="isFocused = true"
            @blur="$el.value === '' ? isFocused = false : true" type="email" id="email" name="email"
            value="{{ form.email.value }}">

        </div>

        <div v-scope="{ isFocused: false }" class="flex flex-col relative">

          <label for="password1" :class="['absolute left-2  transition',
          isFocused ? '-translate-y-[.75rem] bg-primary-50 px-2 text-sm font-semibold'
          : 'top-[.75rem]']">
            Password
          </label>

          <input class="input rounded h-12" @focus="isFocused = true"
            @blur="$el.value === '' ? isFocused = false : true" type="password" id="password1" name="password1"
            value="{{ form.password1.value }}">

        </div>

        <div v-scope="{ isFocused: false }" class="flex flex-col relative">

          <label for="password2" :class="['absolute left-2  transition',
          isFocused ? '-translate-y-[.75rem] bg-primary-50 px-2 text-sm font-semibold'
          : 'top-[.75rem]']">
            Confirm Password
          </label>

          <input class="input rounded h-12" @focus="isFocused = true"
            @blur="$el.value === '' ? isFocused = false : true" type="password" id="password2" name="password2"
            value="{{ form.password2.value }}">

        </div>

        <button class="btn-primary bg-[var(--primary)] rounded h-12 transition rounded" type="submit">Register</button>

      </form>
    </div>
  </main>

  <script type="module" src="{% static 'js/main.js' %}"></script>
  <script type="module" src="{% static 'js/login.js' %}"></script>
</body>

</html>